*{
    margin: 0;
}
h2{
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 15px;
    background-color: seashell;
   
}

.navigation-container{
    background-color:salmon;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    height: 600px;
    display: grid;
    grid-template-rows: 150px 1fr 150px;
    grid-row-gap: 15px;
}
.header-container{
    background-color:salmon;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.middel-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}

.card-container{
    background-color:salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container-2{
    background-color:salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
.card-container-3{
    background-color:salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container-4{
    background-color:salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.footer-container{
    background-color:salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}



