*{
    margin: 0;
}

.grid-container{
    display:grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 4px;
   
}

.navigation-container{
    border: 1px solid red;
    height: 600px;
}
.main-container{
    border: 1px solid red;
    height: 600px;
    display: grid;
    grid-template-rows: 150px 1fr 150px;
    grid-row-gap: 5px;
}
.header-container{
    border: 1px solid red;

}

.middel-container{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.footer-container{
    border: 1px solid red;
}



