*{
    margin: 0;
}

.grid-container{
    display:grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 4px;
   
}

.navigation-container{
    border: 1px solid red;
    height: 600px;
}
.main-container{
    border: 1px solid red;
    height: 600px;
}



